.footer-container{
    color:white;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: calc(0.7vw + 0.6vh);
}
.footer__copyright{
    display: flex;
    align-items: end;
}
.footer__contact{
    height: 100%;
    width:15vw;
    display: flex;
    align-items: center;
}
